<h1>Sticker Manager</h1>

<form action="/add" method="post">
  <input name="stickers" placeholder="z.B. 1,2,3">
  <button>Hinzufügen</button>
</form>

<h3>Reset</h3>
<form action="/reset" method="post">
  <input type="password" name="password" placeholder="Passwort eingeben">
  <button>⚠️ Reset durchführen</button>
</form>

<table border="1">
<tr>
  <th>Nr</th>
  <th>Team</th>
  <th>Name</th>
  <th>Anzahl</th>
  <th>Aktion</th>
</tr>

{% for s in table %}
<tr style="background-color: {{s.color}}">
  <td>{{s.num}}</td>
  <td>{{s.team}}</td>
  <td>{{s.name}}</td>
  <td>{{s.count}}</td>
  <td>
    {% if s.count > 0 %}
    <form action="/delete" method="post">
      <input type="hidden" name="num" value="{{s.num}}">
      <button>Löschen</button>
    </form>
    {% endif %}
  </td>
</tr>
{% endfor %}
</table>